<section>
        <div class="row">
            <div class="sidebar-nav">
                <div class="navbar navbar-default" role="navigation">
                    <div>
                        <p>Menu</p>
                        <ul class="nav navbar-nav">
                            <li><span class="icon-home"></span>Welcome</li>
                            <li><span class="icon-archive"></span>Files</li>
                            <li><span class="icon-learn1"></span>Learning Center</li>
                            <li><span class="icon-eeo2"></span>EEO Tools</li>
                            <li><span class="icon-inews1"></span>Industry News</li>
                            <li><span class="icon-biddle"></span>About Biddle</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-10 content-holder">
                <Center-App></Center-App>
            </div>
        </div>
</section>