body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    color: #db633a;
}

h2 {
    font-size: 22px;
    font-weight: 600;
}

h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
}

h4 {
    font-size: 16px;
    font-weight: 600;
}

h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

a, a:hover, a:focus {
    cursor: pointer;
    color: #0991a3;
}

a:focus {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.font-weight-normal {
    font-weight: normal;
}

.validation-summary-errors ul {
    list-style-type: none;
    padding-left: 20px;
}

.blue-text {
    color: #0991a3;
}

.margin-top25 {
    margin-top: 25px;
}

.margin-top67 {
    margin-top: 67px;
}

.margin-bottom0 {
    margin-bottom: 0;
}

.padding-none {
    padding: 0;
}

.padding-top5 {
    padding-top: 5px;
}

.padding20 {
    padding: 0 20px;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1170px;
}

.container-fluid {
    min-width : 1170px;
}

.account-container {
    background: url(images/bg.png) no-repeat 82% 36px;
    max-width: 975px;
    min-width: 800px;
}

.portal-container .account-container {
    background: none;
}

.account-container .center-block {
    width: 457px;
}

.container.files-container {
    max-width: 720px;
}

.account-container .btn .fa{
    font-size: 24px;
    vertical-align: bottom;
    margin-right: 12px;
}

.account-container h1 {
    margin: 45px 0 42px 0;
}

h1.margin-lg {
    margin: 45px 0 98px 0;
}

h1.margin-md {
    margin: 41px 0 42px 0;
}

.account-container h3 {
    margin-bottom: 45px;
}

h3.margin-lg {
    margin-bottom: 83px; 
}

.account-container .logo {
    padding: 140px 0 0 0;
}

.content-holder {
    width: calc(100% - 221px);
}

.portal-container .btn .fa, a .fa {
    margin-right: 5px;
}

.addUserForm .btn .fa-plus {
    margin-right: 0;
} 

.portal-container .logo {
    padding: 120px 0 195px 0;
}

.portal-container .btn {
    border-radius: 0;
    font-weight: 400;
}

.portal-container .account-container .btn {
    border-radius: 6px;
}

.panel {
    border: 1px solid #cccccc;
    box-shadow: none;
}

.account-container .panel {
    border: 0;
    border-top: 1px solid #dddddd;
    border-radius: 0;
}

.account-container .panel-body {
    padding-top: 25px;
    padding-bottom: 27px;
}

.account-container .form-group {
    margin-bottom: 12px;
}

.account-container .center-block h3 {
    margin: 4px 0 0 0;
}

.account-container .center-block h3:first-child {
    margin-bottom: 25px;
}

.account-container .center-block h5 {
    margin: 0;
}

.account-container .center-block h5:first-child {
    margin-bottom: 15px;
}

.form-control:focus {
    border-color: #fcf3e8;
    box-shadow: none;
}

.account-container .panel-body label, .account-container .panel-body .form-control {
    display: block;
    width: 100%;
    max-width: 339px;
    margin: 0 auto;
}  

.account-container .panel-body .form-control {
    height: 40px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea.form-control:focus {
    border-color: #fe955a;
    outline: 0;
    background-color: #fcf3e8;
    -webkit-box-shadow: inset 0 1px 1px rgba(252, 243, 232, 0.75), 0 0 8px rgba(252, 243, 232, .6);
    box-shadow: inset 0 1px 1px rgba(252, 243, 232, 0.75), 0 0 8px rgba(252, 243, 232, .6);
}

.panel-default {
    background-color: #efefef;
}

.panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: 0;
}

.panel.panel-warning {
    background-color: #fcf3e8;
    margin-bottom: 0;
    border-radius: 0;
    border: 1px solid #fe955a;
}

.panel-default > .panel-heading {
    background-color: #f4f5f9;
}

.col-xs-5.col-xs-offset-4 {
    margin-left: 29%;
}

.toggle-accordions {
    position: absolute;
    top: -10px;
    right: 15px;
}

.btn-default {
    background-color: #cccccc;
    color: #ffffff;
    font-weight: 700;
    pointer-events: none;
    border: 0;
}

.btn.btn-default.btn-login {
    margin-top: 22px;
}

.account-container .btn-default {
    margin-top: 15px;
    min-width: 250px;
    height: 50px;
}

.account-container a.btn-default {
    padding-top: 13px;
}

.btn-default:focus {
    outline: 0;
    background-color: #cccccc;
    color: #ffffff;
}

.btn-default.active, .btn.btn-default.active:hover, .btn.btn-default.active:focus {
    background-color: #0991a3;
    color: #ffffff;
    pointer-events: auto;
    box-shadow: none;
    outline: none;
}

.btn:hover, .btn.btn-default.active:hover, #btn-addFolder span:hover  {
    text-decoration: underline;
}

.portal-container .btn.btn-add-user {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn-sharp {
    border-radius: 0;
}

#updateFolderAceess {
    float: right;
}

.form-control.alert-warning {
    background-color: #fcf8e3;
}

.account-container .panel-body select[name="DayLightSaving"] {
    margin-top: 22px;
}

.alert-warning {
    font-size: 14px;
    background-color: #fcb15e;
    border-radius: 0;
}

header > .row {
    background-color: #353f4b;
    border-bottom: 5px solid #0991a3;
}

.portal-logo img {
    padding: 15px 10px;
}

.btn-logout {
    float: right;
    padding-top: 20px;
    padding-right: 0;
    color: #ffffff !important;
}

.navbar.navbar-default {
    background-color: #f4f5f9;
    width: 221px;
    float: left;
    min-height: calc(100vh - 72px);
    margin-bottom: 0;
    border-radius: 0;
    border-left: 0;
}

.sidebar-nav .navbar .navbar-collapse {
    padding: 0;
}

.sidebar-nav .navbar ul, .sidebar-nav .navbar li {
    float: none;
}

.navbar-nav {
    margin: 7.5px 0px;
}

.navbar.navbar-default p {
    margin : 20px;
}

.navbar-default .navbar-nav > li > a {
    padding-top: 11px;
    padding-bottom: 11px;
    color: #353f4b;
    line-height: 0;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #ffffff;
    background-color: #0991a3;
    font-weight: 600;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a.active {
    color: #ffffff;
    background-color: #353f4b;
    font-weight: 600;
}

.navbar-default .navbar-nav > li > a span {
    font-size: 18px;
    vertical-align: text-bottom;
    margin-right: 12px;
}

.contact-info > div {
    width: 457px;
    margin: auto;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-info hr {
    margin: 6px 0 14px 0;
}

.contact-info .panel-body {
    padding: 15px 0 10px 0;
}

.contact-info .col-xs-6:first-child {
    padding-right: 7px;
}

.contact-info .col-xs-6:nth-child(2) {
    padding-left: 7px;
}

.contact-info p {
    line-height: 1;
}

.contact-info p:first-child {
    margin-bottom: 13px;
}

.contact-info .panel {
    border-radius: 0;
    border: 0;
}

.portal-container .col-xs-10 > hr {
    margin-top: 0;
}

.portal-container .col-xs-10 > h1 {
    margin : 10px 0 14px 0;
}

.navbar-nav a::before {
    margin-right: 15px;
}

.breadcrumb, .breadcrumb form {
    font-weight: 600;
    padding: 0;
    background: transparent;
}
 
.breadcrumb form {
    display: inline-block;
}

.breadcrumb form::after {
    content: '\f105';
    font-family: FontAwesome;
    margin: 0 5px;
}

.files-panel {
    padding-right: 0;
}

.files-panel .panel.panel-default{
    height: 456px;
    background: transparent;
    margin-bottom: 0;
}

.files-panel .panel-body {
    padding: 0;
    min-height: 455px;
    max-height: 455px;
    overflow-y: auto;
}

.files-panel .panel-body .simplebar-content {
    padding-top: 22px;
}

.files-panel .panel-body .simplebar-content > form {
    position: relative;
}

.flex {
    display: flex;
    margin-bottom: 15px;
}

.addUserForm {
    position: relative;
    margin-right: 15px;
}

.addUserForm input[type="email"]{
    background-color: #f5f5f5;
}

.addUserForm input[type="email"]::-moz-placeholder, .addUserForm input[type="email"]::-webkit-input-placeholder, .addUserForm input[type="email"]:-ms-input-placeholder {
    color: #010101;
}

#deleteFolderAccess {
    display: block;
    margin-top: 40px;
}

#cancelFolderAccess {
    display: block;
    margin-top: 5px;
}

.row.flex .col-xs-6:first-child {
    padding-right: 0;
    border-right: 1px solid #dddddd;
}

.files-panel form a, .user-list .user-access-info a {
    display: block;
    padding: 5px 50px;
    color: #000000;
    font-weight: 600;
    text-decoration: none;
}

.files-panel form a .fa {
    float: left;
    margin: 3px 5px 0 0;
}

.files-panel form a span {
    word-break: break-word;
    line-height: 1;
}
    
.user-list .user-access-info a {
    padding: 5px 25px;
}

.files-panel form a:hover {
    background-color: #e9f2f7;
}

.files-panel form a span:hover {
    text-decoration: underline;
}

.user-list .user-access-info a:hover, .nav > li > a:hover  {
    background-color: #0991a3;
    color: #ffffff;
}

.nav > li > a:hover p.blue-text, .nav > li > a:hover time {
    color: #ffffff;
}

.files-panel form a.selected, .user-list .user-access-info a.selected {
    background-color: #353f4b;
    color: #ffffff;
}

.updateFoderAccessForm label {
    font-weight: 400;
    margin-left: 20px;
}

.updateFoderAccessForm h4 {
    margin-bottom: 16px;
}

.updateFoderAccessForm .col-xs-11.col-xs-offset-1 {
    margin-bottom: 14px;
}

.control-buttons .btn-default {
    margin-bottom: 10px;
    padding: 2px 10px 2px 6px;
}

#btn-download .fa, #btn-upload .fa, #insight .btn.btn-default.btn-sharp .fa {
    vertical-align: middle;
}

.icon-check {
    font-size: 16px;
    vertical-align: middle;
}
    
.custom-tooltip + .tooltip > .tooltip-inner {
    width: 300px;
    background-color: #fcb15e; 
    color:#924634;
    position: relative;
}

.custom-tooltip + .tooltip > .tooltip-inner:before {
    content: "\f071";
    font-family: FontAwesome;
    margin-right: 5px;
}

.custom-tooltip.grey + .tooltip > .tooltip-inner:before {
    content: "";
}

.custom-tooltip + .tooltip .tooltip-arrow{
    border-right-color:#fcb15e;
}

.custom-tooltip.grey + .tooltip > .tooltip-inner {
    width: 300px;
    background-color: #f2f5f7; 
    color:#666666;
}

.custom-tooltip.grey + .tooltip .tooltip-arrow{
    border-right-color:#f2f5f7;
}

.modal-body {
    padding: 20px;
}

.modal-body h1 {
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 0.8;
}

.modal-body hr {
    margin-top: 0;
}

#accessControlModal .modal-dialog {
    width: 660px;
    top: 48px;
}

.updateFoderAccessForm .col-xs-12.recursive-field {
    margin-top: 45px;
}

#createUserBtn {
    margin-right: 25px;
}

#createUserBtn .fa{
    font-size: 20px;
    vertical-align: bottom;
}

.fileupload-area, .alert-area {
    display: none;
}

.files-panel .panel-default.alert-area {
    background-color: #fcb15e;
}

.fa.fa-exclamation-triangle.text-danger {
    float: left;
    padding-top: 3px;
}

#fileuploader {
    position: relative;
}

.ajax-upload-dragdrop {
    position: absolute;
    width: 100% !important;
    height: calc(100% - 2px);
    background-color: #efefef;
    border: 0;
}

.ajax-upload-dragdrop > span, .alert-area p {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    pointer-events: none;
}
    
.panel .ajax-file-upload-container {
    margin: 0;
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}

.btn-area {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 95%;
}

.btn-area .alert .text-left {
    display: none;
}

.btn-area .alert div.text-danger {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #000000;
}

.ajax-file-upload-container > .row {
    padding: 15px 15px 0 15px;
}

.upload-file-progress {
    border: 1px solid #fe955a;
    padding: 0;
    border-radius: 5px;
    margin-top: 5px;
}
    
.upload-file-progress .ajax-file-upload-bar {
    background-color: #fe955a;
    height: 10px;
    border-radius: 3px;
    color: #FFFFFF;
}

.upload-file-name {
    font-weight: 600;
    padding-left: 40px;
    word-wrap: break-word;
}

.col-xs-1.del, .col-xs-1.cancel {
    float: right;
}

.done-upload:before {
    content: "\f00c";
    font-family: FontAwesome;
    color: #fe955a;
    position: absolute;
    left: 15px;
}

.ajax-file-upload-error {
    color: #a94442;
    float: left;
    width: 100%;
    padding-left: 15px;
}

.file-duplicate-alert .fa, .file-upload-alert.fa {
    margin-right: 10px;
}

.ajax-file-upload-error:before {
    content: "\f071";
    font-family: FontAwesome;
    color: #a94442;
    margin-right: 10px;
}

.ajax-file-upload-container .fa.fa-times {
    cursor: pointer;
}

.disabled {
    color: #000000;
    pointer-events: none;
}

.inactive {
    pointer-events: none !important;
    background-color: #cccccc !important;
}

.active-orange {
    background-color: #fe955a !important;
}

.ajax-upload-dragdrop .ajax-file-upload {
    position: absolute !important;
    top: 42%;
    left: 40%;
    background: transparent;
    box-shadow: none;
    color: #337ab7;
    font-weight: 400;
}

#btnDoneUpload, #btnConfirmUploadCancel {
    padding: 2px 10px;
}

#btnConfirmUploadCancel {
    margin-right: 20px;
}
    
.offset-top {
    overflow-y: auto;
    overflow-x: hidden;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    background-color: #353f4b;
}

.nav-pills > li > a {
    border-radius: 0;
    color: #353f4b;
    font-weight: 600;
}

.nav-pills > li > a:hover,.nav-pills > li > a:focus {
    background-color: #0991a3;
    color: #ffffff;
}
   
.nav-pills > li.active:before, .nav-pills > li:hover:before{
    content: "";
    border: 10px solid;
    border-color: #353f4b transparent transparent transparent;
    position: absolute;
    left: 50%;
    bottom: -18px;
    transform: translateX(-50%);
}

.nav-pills > li:hover:before {
    border-color: #0991a3 transparent transparent transparent;
}

.nav-pills > li.active:hover:before {
    border-color: #353f4b transparent transparent transparent;
}

.tab-content{
    margin-top: 20px;
}

#docs-accordion .fa{
    margin: 0 10px 10px 15px;
}

.panel-heading h4{
    margin: 0;
}

.panel-heading h4 a{
    color: #353f4b;
    display: block;
}

.panel-heading h4 a::after{
    content: "\f0d7";
    font-family: FontAwesome;
    color: #0991a3;
    float: right;
}
    
.panel-heading h4 a[aria-expanded = "true"]::after{
    content: "\f0d8";
}

.carousel.slide .carousel-control {
    height: 215px;
    background: transparent;
    margin: 0 30px;
}

.tab-pane .panel-group .panel {
    margin-bottom: 18px;
    background-color: #f4f5f9;
}

.open-video-modal .img-responsive {
    width: 100%;
}

.open-video-modal > img {
    position: absolute;
    top: 25%;
    left: 40%;
}

#videoModal h1 {
    margin-top: 0;
}

#videoModal .panel-body {
    padding-bottom: 0;
}

#videoModal .panel-body .fa {
    color: #5e646d;
    font-size: 16px;
}

#webinar-video {
    width: 100%;
    height: 100%;
    border: 1px solid #5e646d;
}

.progressBar {
    position: relative;
    height: 10px;
    background-color: #f2f5f7;
}

.timeBar {
    height: 100%;
    background-color: #adb0b1;
}

.panel.news {
    border: 1px solid #000000;
    border-radius: 0;
    margin-bottom: 0;
}

.panel.news .col-xs-4 .offset-top {
    background-color: #eceff1;
}

.panel.news ul.nav li {
    background-color: #ffffff;
    margin: 2px;
}

.panel.news .col-xs-8 {
    padding-left: 0;
}

.panel.news .col-xs-8 .simplebar-content {
    padding-right: 17px;
}

time {
    color: #000000;
}

.panel.news ul.nav li.active a, .panel.news ul.nav li.active p, .panel.news ul.nav li.active time {
    background-color: #353f4b;
    color: #ffffff;
}

.panel.news li p {
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
    
#toggle-calender {
    position: absolute;
    right: 15px;
    top: -30px;
}

.fc-event {
    border-radius: 0;
}

.fc-toolbar.fc-header-toolbar {
    margin-bottom: 0;
}

.fc-icon::after {
    font-family: FontAwesome;
    font-size: 14px;
    font-weight: 400;
}

.fc-icon-right-single-arrow:after {
    content: '\f061';
}

.fc-icon-left-single-arrow:after {
    content: '\f060';
}

#insight .panel {
    position: relative;
}

#insight .panel .panel-body {
    padding: 20px 80px 25px 15px;
}

#insight .col-xs-2 {
    padding: 0;
    max-width: 150px;
}

#insight .col-xs-10 {
    padding-left: 0;
}

#insight .col-xs-12 {
    padding-top: 10px;
    padding-left: 10px;
}

#insight .col-xs-12 p {
    margin-bottom: 25px;
}

#insight .col-xs-12.text-right{
    padding-top: 0;
}

#insight .btn.btn-default.btn-sharp {
    padding: 2px 6px;
    margin-top: 10px;
}

.article-volume {
    position: absolute;
    top: 10px;
    left: 43%;
}

.article-volume p {
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 0;
}

.btn-more {
    position: absolute;
    right: 20px;
    bottom: 14px;
}

.patch-notes {
    border-bottom: 1px solid #cccccc;
}

.about-biddle {
    max-width: 810px;
    margin: auto;
}

.about-biddle h2 {
    margin: 35px 0 15px 0;
}

.about-biddle h3 {
    margin-top: 10px;
    padding-right: 50px;
}

.about-biddle h4 {
    margin: 0 0 5px 0;
    font-size: 14px;
    color: #0991a3;
}

.about-biddle p {
    padding-left: 12px;
    margin-bottom: 21px;
    font-size: 14px;
}

.about-biddle .row .col-xs-6:first-child {
    padding-right: 7.5px;
}

.about-biddle .row .col-xs-6:last-child {
    padding-left: 7.5px;
}

.about-biddle .col-xs-6 .panel {
    min-height: 460px;
}

.about-biddle .col-xs-6 .panel-body {
    padding: 12px 10px 0 10px;
    min-height: 180px;
}

.fc-left h2 {
    font-size: 14px;
    margin-top: 5px;
}

.fc-left .fc-button {
    background: none;
    background-color: #0991a3;
    height: auto;
    padding: 0 4px;
    color: #ffffff;
    box-shadow: none;
    border-radius: 0;
    margin: 2px;
}

.fc th {
    background-color: #f2f5f7;
}

.icon-media-rewind, .icon-media-fast-forward {
    font-size: 20px;
    padding-top: 3px;
}

.icon-media-play, .icon-media-pause {
    font-size: 28px;
}

.ajax-loader {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    background: rgba(0,0,0,0.6);
    color: #ffffff;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.ajax-loader .col-xs-12 {
    width: 100%;
    height: 100%;
}

.ajax-loader .col-xs-12 .fa {
    position: absolute;
    top: 45%;
    left: 50%;
}

[type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
    display: none;
    cursor: pointer;
}

.panel-body form:hover [type="checkbox"]:not(:checked) + label, .panel-body form:hover [type="checkbox"]:checked + label {
    display: inline !important;
}

[type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before {
    content: '\f096';
    font-family: 'biddle-miniportal-icons';
    position: absolute;
    left: 20px; 
    top: 4px;
    font-size: 16px;
    color: #cccccc;
}

[type="checkbox"]:not(:checked) + label:hover:before, [type="checkbox"]:checked + label:hover:before {
    content: '\f046';
}

[type="checkbox"]:checked + label:before {
    content: '\f046';
    color: #ffffff;
}

.dark-bg {
    background-color: #353f4b;
    color: #ffffff;
    margin-bottom: 53px;
}

.dark-bg i {
    font-size: 40px;
    margin: 0;
}

.container.about-mini-portal {
    max-width: 941px;
}

.about-mini-portal .panel-default.light-bg .panel-body {
    max-width: 745px;
    margin: auto;
}

.about-mini-portal .logo-area {
    padding-top: 60px;
    padding-bottom: 60px;
}

.about-mini-portal .light-bg h2 {
    margin: 30px 0 45px 0;
}

.about-mini-portal .light-bg {
    padding-bottom: 15px;
}

.about-mini-portal .light-bg h3 {
    line-height: 24px;
    margin: 0 0 30px 0;
}

.about-mini-portal .dark-bg h2 {
    margin: 12px 0;
    font-size: 21px;
}

.about-mini-portal .dark-bg a {
    margin-bottom: 20px;
    padding: 13px 45px;
}

.about-mini-portal .dark-bg h2.main-heading {
    margin: 35px 0;
}

.font-weight-normal a {
    vertical-align: text-top;
}

.blue-text .fa, .about-biddle .fa {
    background-color: #0991a3;
    padding: 2px 3px;
}

.popover {
    border: 0;
    min-width: 580px;
    height: 280px;
    display: block;
}

.popover h2 {
    font-size: 18px;
}

.popover-content {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ffd3a3;
    border: 2px solid #fcb15e;
    padding: 0;
}

.popover-content .inner-content {
    height: 100%;
}

.popover-content .inner-content .simplebar-content {
    padding: 9px 14px;
}

.popover.right > .arrow {
    left: -9px;
} 

.popover.left > .arrow {
    right: -9px;
}

.popover.right .arrow:after {
    border-right-color: #fcb15e;
}

.popover.left .arrow:after {
    border-left-color: #fcb15e;
}

.popover .close-popover {
    float: right;
    padding: 0;
    background-color: transparent;
    line-height: 1;
}

.eeo-tools .panel-body .fa {
    margin-left: 15px;
}

.addUserForm input[name="UserEmail"]::-webkit-input-placeholder {
    color: #000000;
}

.addUserForm input[name="UserEmail"]::-moz-placeholder {
    color: #000000;
}

.addUserForm input[name="UserEmail"]:-ms-input-placeholder {
    color: #000000;
}

.addUserForm input[name="UserEmail"]:-moz-placeholder {
    color: #000000;
}

.industry-news > p {
    margin: 12px 0 25px 0;
}

.horizontal.simplebar-track {
    display: none;
}

.updateFoderAccessForm [type="checkbox"]:not(:checked) + label, .updateFoderAccessForm [type="checkbox"]:checked + label {
    display: inline;
    cursor: pointer;
}

.updateFoderAccessForm [type="checkbox"]:not(:checked) + label:before, .updateFoderAccessForm [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 13px; 
    width: 15px; 
    height: 15px;
    border: 1px solid #cccccc;
    background-color: #eeeeee;
}

.updateFoderAccessForm [type="checkbox"]:not(:checked) + label:after, .updateFoderAccessForm [type="checkbox"]:checked + label:after {
    content: '\f00c';
    font-family: 'FontAwesome';
    font-size: 12px;
    font-weight: 600;
    color: #333333;
    position: absolute;
    top: 2px;
    left: 15px;
}

.updateFoderAccessForm [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}

.updateFoderAccessForm [type="checkbox"]:not(:checked) + label:hover:after {
    color: #cccccc;
    opacity: 1;
    transform: scale(1);
}

.account-container .panel.no-box-shadow {
    box-shadow: none;
    border: 0;
}

@media only screen and (max-width: 1280px) {
    .popover {
        min-width: 550px;
    }
}

@media only screen and (max-width: 1199px) {
    .navbar.navbar-default {
        min-height: calc(100vh - 90px);
    }
}

@media only screen and (max-width: 900px) {
    .account-container {
        background-position: 93% 40px;
    }
}

@media only screen and (max-width: 767px) {
    .about-mini-portal .logo-area {
        padding-top: 29px;
        padding-bottom: 25px;
    }
    
    .about-mini-portal .logo-area img {
        max-width: 250px;
    }

    .about-mini-portal .light-bg h2 {
        margin: 30px 0;
    }

    .about-mini-portal .light-bg {
        padding-bottom: 0;
    }

    .about-mini-portal .dark-bg h2.main-heading {
        margin: 30px 0 40px 0;
    }

    .about-mini-portal .dark-bg a {
        margin-bottom: 18px;
    }

    .dark-bg {
        margin-bottom: 0;
    }
}
