<div class="container-fluid portal-container">
        <header>
            <div class="row">
                    <div class="col-xs-10">
                        <div class="portal-logo">
                            <img [src]="fullImagePath" alt="portal logo" />
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-logout">
                            <i class="fa icon-log-out" aria-hidden="true"></i>Logout
                        </a>
                    </div>
                </div>
        </header>
        <section>
            <div class="row">
                <div class="sidebar-nav">
                    <div class="navbar navbar-default" role="navigation">
                        <div>
                            <p>Menu</p>
                            <ul class="nav navbar-nav">
                                <li><span class="icon-home"></span>Welcome</li>
                                <li><span class="icon-archive"></span>Files</li>
                                <li><span class="icon-learn1"></span>Learning Center</li>
                                <li><span class="icon-eeo2"></span>EEO Tools</li>
                                <li><span class="icon-inews1"></span>Industry News</li>
                                <li><span class="icon-biddle"></span>About Biddle</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10 content-holder">
                    
                </div>
            </div>
        </section>

        <div class="row ajax-loader hidden">
            <div class="col-xs-12 text-center">
                <i class="fa fa-refresh fa-spin fa-2x fa-fw "></i>
            </div>
        </div>

    </div>