<header>
    <div class="row">
            <div class="col-xs-10">
                <div class="portal-logo">
                    <img [src]="fullImagePath" alt="portal logo" />
                </div>
            </div>
            <div class="col-xs-2">
                <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-logout">
                    <i class="fa icon-log-out" aria-hidden="true"></i>Logout
                </a>
            </div>
        </div>
</header>