<h1>Welcome</h1>
<hr />
<div class="offset-top" data-simplebar>
    <div class="row">
        <div class="col-xs-12">
            <img class="logo img-responsive center-block" [src]="fullImagePath" alt="logo" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 contact-info">
            <div>
                <h2 class="text-center font-weight-normal">Contact Biddle</h2><hr />
                <div class="row text-center">
                    <div class="col-xs-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p><strong>General Support</strong></p>
                                <p><a href="#" class="blue-text">staff@biddle.com</a></p>
                                <p>(800) 999-0438</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p><strong>Software Support</strong></p>
                                <p><a href="#" class="blue-text">support@biddle.com</a></p>
                                <p>(800) 999-0438 ext.127</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
